<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodys">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Foodys">
        <activity android:name=".Delivery_SendOtp"></activity>
        <activity android:name=".Delivery_FoodPanelBottomNavigation" />
        <activity android:name=".Delivery_ForgotPassword" />
        <activity android:name=".Delivery_VerifyPhone" />
        <activity
            android:name=".ui.login.Delivery_VerifyPhone"
            android:label="@string/title_activity_delivery__verify_phone" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".CustomerFoodPanel_BottomNavigation" />
        <activity android:name=".sendotp" />
        <activity android:name=".VerifyPhone" />
        <activity android:name=".Chefsendotp" />
        <activity android:name=".ChefForgotPassword" />
        <activity android:name=".ChefFoodPanel_BottomNavigation" />
        <activity android:name=".ChefVerifyPhone" />
        <activity android:name=".Delivery_Login" />
        <activity android:name=".Delivery_LoginPhone" />
        <activity android:name=".Delivery_registeration" />
        <activity android:name=".Registeration" />
        <activity android:name=".LoginPhone" />
        <activity android:name=".Login" />
        <activity android:name=".ChefRegisteration" />
        <activity android:name=".Chefloginphone" />
        <activity android:name=".ChefLogin" />
        <activity android:name=".ChooseOne" />
        <activity android:name=".MainMenu" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>